@font-face {
  font-family: 'FuturaDemiC';
  src: url(/assets/fonts/futurademic.otf); }

@font-face {
  font-family: 'FuturaBookC';
  src: url(/assets/fonts/futurabookc.otf); }

a {
  text-decoration: none;
  color: white; }

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit; }

.main {
  width: 100%;
  height: 100%;
  background: #131313;
  display: flex;
  justify-content: center; }

.wrapper {
  width: 100%;
  max-width: 1440px;
  border: 1px solid red;
  overflow: hidden; }

.header {
  display: flex;
  height: 100vh;
  max-height: 837px; }
  .header .left_item {
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
    color: #e3b873;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .left_item p {
      transform: rotate(90deg); }
    .header .left_item:after {
      position: absolute;
      content: "";
      height: 51px;
      margin-top: 80px;
      border: 0.5px solid #e3b873; }
  .header .headerbox {
    width: 100%;
    height: 100%; }
    .header .headerbox__item1 {
      height: 10vh;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .headerbox__item1__logotext {
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #e3b873;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      .header .headerbox__item1__navbar {
        width: 50%;
        display: flex;
        justify-content: space-between;
        font-family: "FuturaBookC";
        font-size: 14px;
        line-height: 16px;
        color: #fff; }
        .header .headerbox__item1__navbar .navbar__item:hover {
          color: #e3b873; }
      .header .headerbox__item1__info {
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .header .headerbox__item1__info--tell {
          font-family: "FuturaDemiC";
          font-size: 14px;
          line-height: 16px;
          color: #e3b873; }
        .header .headerbox__item1__info--call {
          height: 37px;
          width: 161px;
          font-family: "FuturaDemiC";
          font-size: 13px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          background: #e3b873;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .header .headerbox__item1__info--call:hover {
            color: black;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2); }
    .header .headerbox__itembg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      width: 100%;
      height: 90%;
      max-height: 707px;
      background: url(/assets/img/banner_image.png) no-repeat center; }
      .header .headerbox__itembg__textbox {
        height: 35%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        .header .headerbox__itembg__textbox--text_lower {
          width: 80%;
          display: flex;
          justify-content: start;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #ffffff;
          align-self: center; }
        .header .headerbox__itembg__textbox--text_upper {
          width: 80%;
          display: flex;
          justify-content: start;
          align-self: center;
          font-family: "FuturaBookC";
          font-size: 22px;
          line-height: 30px;
          color: #ffffff; }
      .header .headerbox__itembg--buttons {
        width: 47%;
        margin-top: 5vh;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        font-family: "FuturaDemiC";
        font-size: 13px;
        line-height: 15px;
        color: #ffffff; }
        .header .headerbox__itembg--buttons .buttons--that {
          width: 207px;
          height: 51px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ffffff;
          border-radius: 2px; }
          .header .headerbox__itembg--buttons .buttons--that:hover {
            background: #e3b873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.3); }

.scrollbox {
  margin-top: 4vh;
  height: 1074px;
  display: grid;
  grid-template-areas: "post-1 post-2 " "post-3 post-2 " "post-4 post-2 " "post-5 post-2";
  grid-template-rows: 0.15fr 0fr 0.3fr 0.3fr;
  grid-template-columns: 0.7fr 1fr; }

.scrollbox__item1 {
  grid-area: post-1;
  display: flex;
  align-items: center;
  margin-top: 5vh;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873; }
  .scrollbox__item1 p {
    margin-left: 5vw; }
  .scrollbox__item1 .text--lower {
    display: flex; }
    .scrollbox__item1 .text--lower::after {
      margin-top: 55px;
      content: "";
      width: 5vw;
      height: 1px;
      background-color: #e3b873; }

.scrollbox__item2 {
  grid-area: post-2;
  overflow: hidden; }
  .scrollbox__item2 .scrollbox__item2--scroll {
    display: flex;
    flex-direction: column; }
  .scrollbox__item2 .scrollbox--nav {
    display: flex;
    align-items: center;
    width: 70%;
    height: 90px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3); }
    .scrollbox__item2 .scrollbox--nav .scroll_nav {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .scrollbox__item2 .scrollbox--nav .scroll_nav a {
        border: 1px solid rgba(0, 0, 0, 0.3); }
        .scrollbox__item2 .scrollbox--nav .scroll_nav a:hover {
          border-bottom: 1px solid #e3b873;
          color: #e3b873; }
  .scrollbox__item2 .scroll_image {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 1440px; }
    .scrollbox__item2 .scroll_image__item1 {
      width: 732px;
      height: 482px;
      background: url(/assets/img/scroll_image2.png) no-repeat;
      background-size: cover; }
    .scrollbox__item2 .scroll_image__item2 {
      margin-left: 20px;
      width: 679px;
      height: 482px;
      background: url(/assets/img/scroll_image1.png) no-repeat; }

.scrollbox__item3 {
  grid-area: post-3; }
  .scrollbox__item3 .text--upper {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 29px;
    margin-left: 5vw;
    color: #ffffff; }

.scrollbox__item4 {
  grid-area: post-4; }
  .scrollbox__item4 .text--info {
    margin-left: 5vw;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .scrollbox__item4 .text--info--column {
      display: flex;
      flex-direction: column; }
    .scrollbox__item4 .text--info--row {
      display: flex;
      flex-direction: column; }
      .scrollbox__item4 .text--info--row:last-child {
        margin-top: 3vh; }
    .scrollbox__item4 .text--info .name_data {
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #E3B873; }
    .scrollbox__item4 .text--info .data {
      font-family: 'FuturaBookC';
      font-size: 15px;
      line-height: 20px;
      color: #FFFFFF; }

.scrollbox__item5 {
  grid-area: post-5;
  height: 10vh; }
  .scrollbox__item5 .item5--scroll {
    margin-left: 5vw;
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .scrollbox__item5 .item5--scroll--circle {
      width: 30%;
      display: flex;
      justify-content: space-around; }
      .scrollbox__item5 .item5--scroll--circle a:hover {
        background: #FFFFFF; }
      .scrollbox__item5 .item5--scroll--circle .button_circle {
        height: 9px;
        width: 9px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 30px; }
  .scrollbox__item5 .rigth_arrow {
    display: flex;
    align-items: center; }
    .scrollbox__item5 .rigth_arrow .svg_arrow {
      fill: white;
      transform: scale(-1, 1); }
      .scrollbox__item5 .rigth_arrow .svg_arrow:hover {
        stroke: black;
        fill: black; }
  .scrollbox__item5 .left_arrow .svg_arrow {
    fill: white; }
    .scrollbox__item5 .left_arrow .svg_arrow:hover {
      stroke: black;
      fill: black; }

/*# sourceMappingURL=main.css.map */
