@import "fonts";
a {
  text-decoration: none;
  color: white;
}
.main {
  width: 100vw;
  height: 100vh;
  background: #131313;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  border: 1px solid red;
}
.header {
  display: flex;

  .left_item {
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #e3b873;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      transform: rotate(90deg);
    }
    &:after {
      position: absolute;
      content: "";
      height: 51px;
      margin-top:80px;
      border: 0.5px solid #e3b873;
      transform: rotate(900deg);
    }
  }
  .headerbox {
    width: 100%;
    border: 1px solid red;
    &__item1 {
      height: 10vh;
      border: 1px solid red;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logotext {
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #e3b873;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &__navbar {
        width: 50%;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: "FuturaBookC";
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        .navbar__item {
          &:hover {
            color: #e3b873;
          }
        }
      }

      &__info {
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--tell {
          font-family: "FuturaDemiC";
          font-size: 14px;
          line-height: 16px;
          color: #e3b873;
        }
        &--call {
          height: 37px;
          width: 161px;
          font-family: "FuturaDemiC";
          font-size: 13px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          background: #e3b873;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: black;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          }
        }
      }
    }

    &__itembg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 707px;
      background: url(/assets/img/banner_image.png) no-repeat center;
      &__textbox {
        height: 45%;
        border: 1px solid red;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &--text_upper {
          border: 1px solid red;
          display: flex;
          justify-content: center;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #ffffff;
        }
        &--text_lower {
          border: 1px solid red;
          display: flex;
          justify-content: start;
          width: 72.2%;
          font-family: "FuturaBookC";
          font-size: 22px;
          line-height: 30px;
          color: #ffffff;
        }
        &--buttons {
          border: 1px solid red;
          width: 72.2%;
          margin-top: 20px;
          display: flex;
          justify-content: space-around;
          text-transform: uppercase;
          font-family: "FuturaDemiC";
          font-size: 13px;
          line-height: 15px;
          color: #ffffff;
          .buttons--that {
            width: 207px;
            height: 51px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #ffffff;
            border-radius: 2px;
            &:hover {
              background: #e3b873;
              box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
              border: 1px solid rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}
