@import "fonts";
@import './design_project.scss';
@import './typesbox';
@import './listwork.scss';
@import './our-work.scss';
@import './team.scss';
a {
  text-decoration: none;
  color: white;
}
svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
.main {
  width: 100%;
  height: 100%;
  background: #131313;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  border: 1px solid red;
  overflow: hidden;
}
.header {
  display: flex;
  height: 100vh;
  max-height: 837px;
  .left_item {
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;

    color: #e3b873;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      transform: rotate(90deg);
    }
    &:after {
      position: absolute;
      content: "";
      height: 51px;
      margin-top: 80px;
      border: 0.5px solid #e3b873;
    }
  }
  .headerbox {
    width: 100%;
    height: 100%;
    &__item1 {
      height: 10vh;

      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__logotext {
        font-family: "FuturaDemiC";
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #e3b873;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &__navbar {
        width: 50%;

        display: flex;
        justify-content: space-between;
        font-family: "FuturaBookC";
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        .navbar__item {
          &:hover {
            color: #e3b873;
          }
        }
      }

      &__info {
        width: 25%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--tell {
          font-family: "FuturaDemiC";
          font-size: 14px;
          line-height: 16px;
          color: #e3b873;
        }
        &--call {
          height: 37px;
          width: 161px;
          font-family: "FuturaDemiC";
          font-size: 13px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          background: #e3b873;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            color: black;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
          }
        }
      }
    }

    &__itembg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      width: 100%;
      height: 90%;
      max-height: 707px;

      background: url(/assets/img/banner_image.png) no-repeat center;
      &__textbox {
        height: 35%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &--text_lower {
          width: 80%;

          display: flex;
          justify-content: start;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 40px;
          line-height: 53px;
          text-transform: uppercase;
          color: #ffffff;
          align-self: center;
        }
        &--text_upper {
          width: 80%;

          display: flex;
          justify-content: start;
          align-self: center;
          font-family: "FuturaBookC";
          font-size: 22px;
          line-height: 30px;
          color: #ffffff;
        }
      }
      &--buttons {
        width: 47%;
        margin-top: 5vh;
        display: flex;
        justify-content: space-evenly;
        text-transform: uppercase;
        font-family: "FuturaDemiC";
        font-size: 13px;
        line-height: 15px;
        color: #ffffff;
        .buttons--that {
          width: 207px;
          height: 51px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ffffff;
          border-radius: 2px;
          &:hover {
            background: #e3b873;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
            border: 1px solid rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
.scrollbox {
  margin-top: 4vh;
  height: 1000px;
  display: grid;
  grid-template-areas:
    "post-1 post-2 "
    "post-3 post-2 "
    "post-4 post-2 "
    "post-5 post-2"
    "post-6 post-6";
  grid-template-rows: 200px 140px;
  grid-template-columns: 0.7fr 1fr;
}
.scrollbox__item1 {
  grid-area: post-1;
  display: flex;
  align-items: center;

  margin-top: 5vh;
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;

  color: #e3b873;
  p {
    margin-left: 5vw;
  }
  .text--lower {
    display: flex;

    &::after {
      margin-top: 55px;
      content: "";
      width: 5vw;
      height: 1px;
      background-color: #e3b873;
    }
  }
}
.scrollbox__item2 {
  grid-area: post-2;
  overflow: hidden;
  .scrollbox__item2--scroll {
    display: flex;
    flex-direction: column;
  }

  .scrollbox--nav {
    display: flex;
    align-items: center;
    width: 70%;
    height: 90px;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    .scroll_nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      a {
        border: 1px solid rgba(0, 0, 0, 0.3);
        &:hover {
          border-bottom: 1px solid #e3b873;
          color: #e3b873;
        }
      }
    }
  }
  .scroll_image {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 1440px;
    &__item1 {
      width: 732px;
      height: 482px;
      background: url(/assets/img/scroll_image2.png) no-repeat;
      background-size: cover;
    }
    &__item2 {
      margin-left: 20px;
      width: 679px;
      height: 482px;
      background: url(/assets/img/scroll_image1.png) no-repeat;
    }
  }
}
.scrollbox__item3 {
  grid-area: post-3;

  .text--upper {
    font-family: "FuturaBookC";
    font-size: 18px;
    line-height: 29px;
    margin-left: 5vw;
    color: #ffffff;
  }
}
.scrollbox__item4 {
  grid-area: post-4;
  .text--info {
    margin-left: 5vw;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--column {
      display: flex;
      flex-direction: column;
    }
    &--row {
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-top: 3vh;
      }
    }
    .name_data {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;

      color: #e3b873;
    }
    .data {
      font-family: "FuturaBookC";
      font-size: 15px;
      line-height: 20px;

      color: #ffffff;
    }
  }
}
.scroll__arrow {
  margin-top:70px;
  margin-left: 5vw;
  width: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &--circle {
    width: 30%;
    display: flex;
    justify-content: space-around;
    a {
      &:hover {
        background: #ffffff;
      }
    }
    .button_circle {
      height: 9px;
      width: 9px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
    }
  }
}

.rigth_arrow {
  display: flex;
  align-items: center;

  .svg_arrow {
    fill: white;
    transform: scale(-1, 1);

    &:hover {
      stroke: black;
      fill: black;
    }
  }
}
.left_arrow {
  .svg_arrow {
    fill: white;
    &:hover {
      stroke: black;
      fill: black;
    }
  }
}
.scrollbox__item5 {
  grid-area: post-5;
  height: 10vh;
  
}
.titlebox {
  height: 10vh;
  display: flex;
  flex-direction: column;
color:#fff;
  align-items: center;
  &__text {
    width: 20vw;
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
  
    display: flex;
    justify-content: center;
  }
  &__description{
    margin-top:20px;
  font-family: 'FuturaBookC';
  font-size: 20px;
  line-height: 27px;
  text-align: center; 
  color: #363636;
}
  &__image {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    &:before {
      content: "";
      width: 33px;
      height: 1px;
      background: #e3b873;
      margin-top: 16px;
      margin-right: 10px;
      border-radius: 30px;
    }
    &:after {
      content: "";
      margin-top: 16px;
      margin-left: 10px;
      width: 33px;
      height: 1px;
      background: #e3b873;
      border-radius: 30px;
    }
  }
}
.videobox {
  grid-area: post-6;

  &__video {
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    &--position {
      max-width: 817px;
      max-height: 434px;
      video {
        max-height: 434px;
      }
    }
    &::after {
      content: "";
      width: 55px;
      height: 2px;
      background: #e3b873;
      border-radius: 30px;
    }
  }
  &__decriprtion {
    height: 200px;
    font-family: "FuturaBookC";
    font-size: 20px;
    line-height: 34px;
    color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__form {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    .inputbox {
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--input {
      height: 60px;
      display: flex;
      flex-direction: column;

      input {
        border: none;
        &::-webkit-input-placeholder {
          font-family: "FuturaBookC";
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
        &::-moz-placeholder {
          font-family: "FuturaBookC";
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
        &:-moz-placeholder {
          font-family: "FuturaBookC";
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
        &:-ms-input-placeholder {
          font-family: "FuturaBookC";
          font-size: 18px;
          line-height: 24px;

          color: #363636;
        }
      }
      &::after {
        content: "";
        margin-top: 5px;
        width: 231px;
        height: 1px;
        background: rgba(54, 54, 54, 0.3);
      }
    }
  }
  &__check {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    &--text {
      font-family: "FuturaBookC";
      font-size: 16px;
      line-height: 22px;

      color: #181818;
    }
    .checkbox {
      margin-right: 10px;
      height: 18px;
      width: 18px;
      background: #e3b873;
      border-radius: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
label {
  font-family: "FuturaBookC";
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 2px;
  color: rgba(54, 54, 54, 0.5);
}
.submit {
  margin-bottom: 15px;
  width: 200px;
  height: 51px;
  font-family: "FuturaDemiCTT";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  background: #e3b873;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  &:hover {
    color: black;
  }
}
.titlebox.first_elem {
  margin-top: 80px;
}
.before_types {
  width: 100%;
  height: 670px;
  background: #fff;
}
.item_types {
  width: 100%;
  height: 800px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .titlebox {
    &__text {
      margin-top: 15px;
      color: black;
    }
  }

}
.formbox {
  height: 720px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  .circlefirst {
    margin-top: 118px;
    margin-left: 350px;
  }
  .circlesecond {
    margin-top: 70px;
    margin-left: 430px;
  }
  .circlethird {
    margin-top: 120px;
    margin-left: 450px;
  }
  .circlefourth {
    margin-top: 120px;
    margin-left: 385px;
  }
  &__circle_list {
    width: 800px;
    height: 691px;
    background: url(/assets/img/bg_circlelist.png) no-repeat;
  }
  .circle__list--item {
    display: flex;
    align-items: center;
  }
  .circle__list {
    &--circle {
      width: 41.76px;
      height: 41.76px;
      background: #e3b873;
      box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
      border-radius: 30px;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffffff;
    }
    &--text {
      font-family: "FuturaMediumC";
      font-size: 18px;
      line-height: 21px;
      margin-left: 10px;
      color: #363636;
    }
  }
  .form {
    width: 506px;
    height: 509px;
    background: #000;
    margin-left: 20px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    &__item {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &--tittle {
        font-family: "FuturaDemiCTT";
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-align: center;

        color: #ffffff;
      }
    }
  }
  .inform {
    width: 80%;
    background: #000;

    &::-webkit-input-placeholder {
      font-family: "FuturaMediumC";
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
    &::-moz-placeholder {
      font-family: "FuturaMediumC";
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
    &:-moz-placeholder {
      font-family: "FuturaMediumC";
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
    &:-ms-input-placeholder {
      font-family: "FuturaMediumC";
      font-size: 18px;
      line-height: 25px;
      color: #ffffff;
    }
  }
  .videobox__form--input {
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      margin-top: 5px;
      width: 408px;
      height: 1px;
      background: rgba(255, 255, 255, 0.15);
    }
  }
  .videobox__check {
    justify-content: flex-start;
    width: 80%;
    &--text {
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
  }
  label {
    width: 80%;
    color: rgba(255, 255, 255, 0.5);
  }
  .email__input {
    width: 80%;
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      margin-top: 5px;
      width: 408px;
      height: 1px;
      background: rgba(255, 255, 255, 0.15);
    }
  }
  .button--call {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    .submit {
      font-family: "FuturaDemiCTT";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      width: 213px;
    }
  }
}
.gallery {
  height: 1200px;
  background: #fff;
  display: flex;
 
  
  &__list {
    margin-left:100px;
    width: 30%;
    display: flex;
    flex-direction: column;
  justify-content: center;
    &--tittle {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #e3b873;
    }
    &--listitems {
      margin-top:30px;
      height: 60%;
      font-family: "Proxima Nova Light";
      font-size: 20px;
      line-height: 34px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li{
          
          cursor: pointer;
        }
        span:hover{
          border-bottom: 1px solid #e3b873;
          color: #e3b873;
        }
        
      }
    }
  }
  &__images{
    width: 55%;
    display: flex;
    justify-content: space-between;
    .images_column{
      width: 353px;
      height: 100%;
      &--item1{
        width: 354px;
        height: 557px;
        background: url(/assets/img/gallety_item1.png);
      transform: translateY(-40px);
      }
      &--item2{
        width: 353px;
        height: 349px;
        background: url(/assets/img/gallery_item4.png);
      }
      &--item3{
        width: 353px;
        height: 275px;
        background: url(/assets/img/gallery_item2.png);
        transform: translateY(-120px);
        
      }
      &--item4{
        width: 353px;
        height: 625px;
        background: url(/assets/img/gallery_item3.png);
        transform: translateY(-80px);
      }
      
    }
  }
}
.background_gallery {
  display: flex;
  margin-top: 200px;
  height: 864px;
  width: 1440px;
  background: url(/assets/img/galletu_bg.png) no-repeat;
  background-size: cover;
}