.work {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center; }

.our-work {
  width: 90%;
  height: 100%;
  display: flex; }
  .our-work__info {
    width: 40%;
    height: 100%; }
    .our-work__info--description {
      font-family: "FuturaDemiCTT";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 22px;
      text-transform: uppercase;
      color: #ffffff; }
    .our-work__info--tittle {
      margin-top: 18px;
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 37px;
      text-transform: uppercase;
      color: #E3B873; }
    .our-work__info .textinfo--counter {
      margin-top: 92px;
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .our-work__info .textinfo--tittle {
      margin-top: 22px;
      font-family: 'Yeseva One';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 23px;
      text-transform: uppercase;
      color: #E3B873; }
    .our-work__info .textinfo--maincontent {
      margin-top: 22px;
      font-family: 'FuturaBookC';
      font-size: 15px;
      line-height: 25px;
      color: #FFFFFF; }
    .our-work__info .scroll__arrow {
      margin-left: 0;
      margin-top: 62px;
      width: 300px; }
      .our-work__info .scroll__arrow--circle {
        width: 60%; }
  .our-work__list {
    margin-top: 60px;
    width: 60%;
    height: 100%; }
    .our-work__list--items {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column; }
      .our-work__list--items .list--items-row {
        display: flex;
        justify-content: space-between;
        color: rgba(255, 255, 255, 0.445); }
        .our-work__list--items .list--items-row:nth-child(2) {
          margin-top: 36px; }
        .our-work__list--items .list--items-row .row__item {
          cursor: pointer; }
          .our-work__list--items .list--items-row .row__item:hover {
            color: white; }
            .our-work__list--items .list--items-row .row__item:hover .row__item--number span {
              border-bottom: 1px solid #e3b873; }
        .our-work__list--items .list--items-row .row__item--number {
          font-family: 'Yeseva One';
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 21px;
          text-transform: uppercase; }
        .our-work__list--items .list--items-row .row__item--description {
          font-family: 'FuturaBookC';
          font-size: 15px;
          line-height: 18px;
          margin-top: 8px; }
      .our-work__list--items .row__item--five {
        cursor: pointer;
        margin-left: 70px;
        white-space: nowrap; }
        .our-work__list--items .row__item--five:hover {
          color: white; }
          .our-work__list--items .row__item--five:hover .row__item--number span {
            border-bottom: 1px solid #e3b873; }
      .our-work__list--items .row__item--six {
        cursor: pointer;
        transform: translateX(12px);
        white-space: nowrap; }
        .our-work__list--items .row__item--six:hover {
          color: white; }
          .our-work__list--items .row__item--six:hover .row__item--number span {
            border-bottom: 1px solid #e3b873; }
    .our-work__list--image {
      margin-top: 44px;
      width: 765px;
      height: 376px;
      background: url(/assets/img/workgroup.png) no-repeat; }

/*# sourceMappingURL=our-work.css.map */
