.team {
  width: 100%;
  height: 460px;
  background: #fff; }
  .team .titlebox {
    height: 250px; }
    .team .titlebox__description {
      color: #fff; }
  .team__composition {
    width: 100%;
    transform: translateY(-450px);
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .team__items {
    display: flex;
    justify-content: space-evenly;
    height: 450px; }
    .team__items--person {
      width: 272px;
      height: 357px; }
      .team__items--person .person__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #fff;
        margin: 0 auto;
        margin-top: 277px;
        width: 233px;
        height: 137px; }
        .team__items--person .person__info--name {
          width: 100%;
          height: 30px;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          color: #181818; }
        .team__items--person .person__info--position {
          height: 40px;
          font-family: "FuturaBookC";
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          color: #959595; }
        .team__items--person .person__info--description {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 44px;
          background: #e3b873;
          font-family: "Yeseva One";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 20px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff; }
      .team__items--person::before {
        position: absolute;
        height: 70px;
        width: 70px;
        background: #e3b873;
        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
        transform: translate(-35px, -35px); }
      .team__items--person:first-child {
        background: url(/assets/img/person1.png); }
        .team__items--person:first-child::before {
          display: flex;
          justify-content: center;
          align-items: center;
          content: url(/assets/img/person1_component.svg); }
      .team__items--person:nth-child(2) {
        background: url(/assets/img/person2.png); }
        .team__items--person:nth-child(2)::before {
          display: flex;
          justify-content: center;
          align-items: center;
          content: url(/assets/img/person2_component.svg); }
      .team__items--person:last-child {
        background: url(/assets/img/person3.png); }
        .team__items--person:last-child::before {
          display: flex;
          justify-content: center;
          align-items: center;
          content: url(/assets/img/person3_component.svg); }
  .team__description {
    margin-top: 20px;
    font-family: 'FuturaBookC';
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #363636; }

/*# sourceMappingURL=team.css.map */
